body {
  margin: 0;
}

p {
  margin: 0;
}

.copyright p{
  text-align: center;
}

.copyright {
  background-color: turquoise;
  padding-block: 15px;
  
}

h1, h2, h3{
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  gap: 10px;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.hero img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

img{
  vertical-align: top;
  width: 100%;
}

.intro-img-box img{
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  
}

.intro{
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.about {
  padding-block: 100px;
}

.container {
  padding-inline: 15px;
}

.photos-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.photo-1 {
  grid-column: 1/4;
  grid-row: 1/4;
  transition: all ease 0.1s;
  
}

.photo-1:hover {
  transform: scale(1.2);
}

.photos {
  padding-block: 100px;
  background-color: #e3def1;
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
    margin-inline: auto;
 
  }
}